<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Code Review</title>
  </head>
  <body>
    <h2>List:</h2>
    <ul>
      <% code.forEach( function(piece){ %>
        <li><a href="#"><%=  piece.content %></a></li>
        <%}) %>
      </ul>

      <a href='/new'>Add Code</a>

  </body>
</html>
