<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>code review</title>
  </head>
  <body>
    <h2>Add your code here</h2>
    <form class="add-code" action="/code-list" method="post">
      <textarea rows="30" cols="80"></textarea>
      <br>
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
