<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>code review</title>
  </head>
  <body>
    <h2>Add your code here</h2>
    <form class="add-code" action="/code" method="post">
      </br>
      <label for="">Your code:</label>
      </br>
      <textarea rows="30" cols="80" name="content" value="content"></textarea>
      </br>
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
